.artCard {
    background-color: #3b8bd9;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.artImage {
    width: 100%;
    height: 300px;
    background-color: #d9d9d9;
    border-radius: 12px;
    margin-bottom: 16px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tags {
    font-size: 14px;
    color: white;
    font-weight: 500;
    word-wrap: break-word;
}

.description {
    font-size: 14px;
    color: white;
    line-height: 1.5;
    word-wrap: break-word;
}

.likeBadge {

    align-self: flex-end; /* выравниваем справа */
}
