.artWrapp {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #dbefff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.artImage {
    height: 400px;
    min-width: 700px;
    max-width: 1000px;
    border-radius: 12px;
    border: 1px solid #10497824;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.owner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

.nickname {
    color: var(--text-color);
    font-weight: 600;
}

.ownerLink {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.textAndLike {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.textContent span {
    color: var(--text-color);
    font-size: 14px;
    word-wrap: break-word;
}

.tags {
    font-weight: 600;
}

.like {
    position: relative;
    bottom: 0px;
    right: 0px;
}

.editContent {
    display: flex;
    flex-direction: column;

}

.artAdd {
    position: relative;
    border: 3px dotted #10497824;
    height: 200px;
    width: 500px;
    background-color: var(--input-bg-color);
    border-radius: 12px;
}

.artAdd::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
}

.artAdd span {
    color: #104978a7;
    font-weight: 600;
}

.foot span{
    color: #104978a7;
    font-weight: 400;
    cursor: pointer;
}

.addIcon {
    padding-block: 30px 10px;
    width: 70px;
    height: 70px;
}

.upload {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.artPreviewWrapper {
    position: relative;
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--input-bg-color);
}

.artPreview {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.changePhotoBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #1049788e;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    cursor: pointer;
    z-index: 10;
    transition:  all 0.2s ease-in-out;
}

.changePhotoBtn:hover {
    background: #104978ae;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.form input {
    box-sizing: border-box;
    background-color: var(--input-bg-color);
    border-radius: 15px;
    border: 0;
    padding: 12px 15px;
    color: var(--text-color);
    font-size: 14px;
    outline: none;
    min-height: 40px;
    line-height: 1.5;
    overflow: hidden;
    resize: none;
    height: auto;
    width: 100%;

    &::placeholder {
        color: var(--text-color);
        opacity: 70%;
    }
}

.form span,
.form label {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}

.form span {
    padding-block: 10px;
}

.tags {
    display: flex;
    flex-direction: column;
}

.description {
    overflow: hidden;
    resize: none;
    height: auto; 
}

.btnArea {
    display: flex;
    justify-content: flex-end
}

.edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    padding-block: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.edit span {
    font-size: 14px;
    cursor: pointer;
}

.edit span:hover {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.edit img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.edit:hover {
    transform: translateY(1px);
}
