.artWrapp {
    display: flex;
    flex-direction: column;
    background-color: #dbefff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.artImage {
    width: 100%;
    height: 300px;
    background-color: #d9d9d9;
    border-radius: 12px;
    margin-bottom: 16px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.textContent span {
    color: var(--text-color);
    font-size: 14px;
    word-wrap: break-word;
}

.tags {
    font-weight: 600;
}

.like {
    position: relative;
    bottom: 0px;
    right: 0px;
}
