.artWrapp {
    display: flex;
    flex-direction: column;
    background-color: #dbefff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.artImage {
    min-width: 500px;
    width: 100%;
    height: 300px;
    background-color: #d9d9d9;
    border-radius: 12px;
    margin-bottom: 15px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.textContent span {
    color: var(--text-color);
    font-size: 14px;
    word-wrap: break-word;
}

.tags {
    font-weight: 600;
}

.like {
    position: relative;
    bottom: 0px;
    right: 0px;
}

.editContent {
    display: flex;
    flex-direction: column;

}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
}

.form textarea {
    box-sizing: border-box;
    background-color: var(--input-bg-color);
    border-radius: 15px;
    border: 0;
    padding: 12px;
    color: var(--text-color);
    font-size: 14px;
    outline: none;

    &::placeholder {
        color: var(--text-color);
        opacity: 70%;
    }
}

.form span,
.form label {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}

.form span {
    padding-block: 10px;
}

.tags {
    display: flex;
    flex-direction: column;
}

.tagsTextarea {
    overflow: hidden;
    resize: none;
    height: auto;
}

.textareaWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.description {
    overflow: hidden;
    resize: none;
    height: auto; 
}

.charCount {
    position: absolute;
    bottom: 0px;
    left: 12px;
    font-size: 12px;
    color: var(--text-color);
    pointer-events: none;
}

.btnArea {
    display: flex;
    justify-content: flex-end
}
