.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--input-bg-color);
    border-radius: 50px;
    padding: 10px 12px;
}

.pfpNames{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.avatarWrapper {
    width: 80px;
    height: 80px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.buttonWrap {
    border: 2px solid #dbefff;
    padding: 20px 30px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 130px;
    margin-right: 0px;
}

.subscribed {
    background-color: #dbefff;
}

.subscribed:hover {
    background-color: #dbefff;
}

.info span{
    color: var(--text-color);
}

.username {
    font-size: 18px;
    font-weight: 600;
    transition:  all 0.2s ease-in-out;
}

.meBadge {
    font-size: 12px;
}

.name {
    padding-left: 17px;
}