.headContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    position: relative;
}

.faceName {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nickname {
    color: var(--text-color);
    font-weight: 600;
}

.contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    margin-top: 50px;
}

.headBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--input-bg-color);
    border-radius: 30px;
    z-index: -1;
}

.contentWrapper {
    padding-block: 75px 10px;
}

.edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text-color);
    padding-block: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.edit span {
    font-size: 14px;
    cursor: pointer;
}

.edit span:hover {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.edit img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.edit:hover {
    transform: translateY(1px);
}

.headSFooter {
    overflow: visible;
    text-align: center;
    align-items: end;
    width: 100%;
    padding-top: 5px;
    z-index: 10;
}

.stats {
    position: absolute;
    bottom: +10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color);
    padding-inline: 20px;
}

.stats span {
    font-size: 14px;
}

.stats img {
    width: 20px;
    height: 20px;
}

.arts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttonsCover {
    position: absolute;
    bottom: +10px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 100;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #dbefff;
    border-radius: 50%;
    border: 0px solid var(--text-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.sort:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(1px);
}

.icon {
    width: 20px;
    height: 20px;
}

.bio {
    display: inline-block;
    text-align: center;
    max-width: 200px;
    background-color: #dbefff;
    padding: 10px 20px;
    border-radius: 30px;
}

.bio span {
    color: var(--text-color);
    white-space: pre-line;
    font-size: 14px;
}

.feed {
    margin-top: 20px;
    columns: 200px;
    column-gap: 20px;
    max-width: 100%;
}
