.headContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.faceName {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nickname {
    color: var(--text-color);
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
    margin-top: 50px;
}

.headBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--input-bg-color);
    border-radius: 30px;
    z-index: -1;
}

.contentWrapper {
    padding-block: 75px 20px;
}


.buttonsCover {
    display: flex;
    flex-direction: row;
    margin-block: 10px;
    gap: 10px;
    z-index: 1;
}

.subscribe {
    font-size: 14px;
}

.subscribed {
    font-size: 14px;
    background-color: #dbefff;
}

.subscribed:hover {
    background-color: #dbefff;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbefff;
    border-radius: 50%;
    border: 0px solid var(--text-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.message:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(1px);
}

.icon {
    width: 25px;
    height: 25px;
}

.headSFooter {
    text-align: center;
    align-items: end;
    width: 100%;
    padding-top: 5px;
    z-index: 1;
}

.stats {
    position: absolute;
    bottom: +16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color);
    padding-inline: 20px;
}

.stats span {
    font-size: 14px;
}

.stats img {
    width: 20px;
    height: 20px;
}

.arts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status {
    position: absolute;
    bottom: +16px;
    right: 20px;
    color: var(--text-color);
}

.status span {
    font-size: 14px;
}

.bio {
    display: inline-block;
    text-align: center;
    max-width: 200px;
    background-color: #dbefff;
    padding: 10px 20px;
    border-radius: 30px;
}

.bio span {
    color: var(--text-color);
    white-space: pre-line;
    font-size: 14px;
}

