.card {
  position: relative;
  min-width: 200px;
  height: 200px;
  border-radius: 30px;
  background-color: var(--input-bg-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.likeBadge {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  background-color: var(--btn-bg-color); 
  border-radius: 50px;
  padding: 4px 8px;
  border: none;
  
  transition: background-color 0.2s ease;
  gap: 4px;
}


.likesText {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
}

.heartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--input-bg-color);
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.heartContainer:hover {
  background-color: #acd7fb;
}

.heartIcon {
  width: 16px;
  height: 16px;
  fill: var(--layout-color);
  stroke: var(--layout-color);
}
