.card {
  position: relative;
  min-width: 200px;
  height: auto;
  border-radius: 30px;
  background-color: var(--input-bg-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(3px);
}

.imageContainer {
  background-color: var(--input-bg-color);
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.artImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.actionIcon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    padding: 0;
}

.actionIcon img {
    width: 16px;
    height: 16px;
}

.actionIcon:hover {
  transform: scale(1.2);
}
