.headContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.headBg {
    position: absolute;
    top: +50px;
    width: 100%;
    height: 200px;
    background-color: var(--input-bg-color);
    border-radius: 30px;
}

.faceName {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nickname {
    color: var(--text-color);
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.buttonsCover {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 10px;
    z-index: 1;
}

.subscribe {
    font-size: 14px;
}

.subscribed {
    font-size: 14px;
    background-color: #dbefff;
}

.subscribed:hover {
    background-color: #dbefff;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbefff;
    border-radius: 50%;
    border: 0px solid var(--text-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.message:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(1px);
}

.icon {
    width: 25px;
    height: 25px;
}
