.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  width: 100%;
  background-color: var(--input-bg-color);
  border-radius: 30px;
  border: 1px solid var(--layout-color);
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding-right: 40px;

  &:focus {
    border: 3px solid var(--layout-color);
    background-color: #b4ddff;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--input-bg-color) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.input::placeholder {
  color: var(--text-color);
  opacity: 70%;
}

.input:focus::placeholder {
  color: transparent;
}

.eyeButton {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.eyeIcon {
  width: 24px;
  height: 24px;
}
