.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: visible;
}

.input {
  width: 100%;
  min-width: 0;
  background-color: var(--input-bg-color);
  border-radius: 30px;
  border: 1px solid var(--layout-color);
  padding: 10px 20px;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  outline: none;
  padding-right: 40px;

  &:focus {
    border: 3px solid var(--layout-color);
    background-color: #b4ddff;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--input-bg-color) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.input::placeholder {
  color: var(--text-color);
  opacity: 70%;
}

.input:focus::placeholder {
  color: transparent;
}

.errorMessage {
  position: absolute;
  left: calc(100% + 12px);
  top: 50%;
  transform: translateY(-50%);

  background: #fff;
  color: #ff4d4f;
  font-size: 12px;

  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ff4d4f;

  min-width: 200px;

  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;

  z-index: 9999;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);

  pointer-events: none;
}


.inputError {
  border-color: #ff4d4f !important;
  background-color: #fff2f2 !important;
}

.inputError:focus {
  border-color: #ff4d4f !important;
  background-color: #fff2f2 !important;
}
