.boards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
    gap: 10px;
    width: 100%;
}

.cardsContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.text {
    color: var(--text-color);
    font-size: 16px;
    white-space: pre-line;
    text-align: center;
    max-width: 250px;
    cursor: default;
}

.search {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--btn-bg-color); 
  border-radius: 30px;
  padding: 4px; 
  width: 100%;
  max-width: 700px;
}

.searchInput {
  flex: 1;
  background-color: var(--input-bg-color); 
  border: none;
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 14px;
  color: #104A78;
  outline: none;
}

.searchInput::placeholder {
  color: #1E4A78;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 0 5px;  
}

.feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 100%;
}