.boards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
    gap: 10px;
    width: 100%;
}

.cardsContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.text {
    color: var(--text-color);
    font-size: 16px;
    white-space: pre-line;
    text-align: center;
    max-width: 250px;
    cursor: default;
}