.app {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 200px;
  flex: 1;
}
