@font-face {
  font-family: 'OpenSans';
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url("./fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

:root {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #f1f2f7;
  --layout-color: #337BB6;
  --btn-bg-color: #8ACAFF;
  --input-bg-color: #C3E4FF;
  --text-color: #104A78;
  --btn-hover-color: #83C7FF;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

span {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  cursor: default;
}

p {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  cursor: default;
}

textarea {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

input {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}

button {
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
}