:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-color: #f1f2f7;
  --layout-color: #337BB6;
  --btn-bg-color: #B8DFFF;
  --btn-text-color: #104A78;
  --btn-hover-color: #83C7FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
