.header {
  background-color: #337BB6;
  color: white;
  padding: 0 2rem;
  position: relative;
  display: flex;
  align-items: center;
}

.title {
  margin: 0.5rem auto;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.buttons {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1rem;
}

.button {
  background-color: #B8DFFF;
  color: #104A78;
  border: 3px solid transparent;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.85rem;
}

.button:hover {
  border-color: #104A78;
  background-color: #c9e7ff;
}