.ellipsisBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #dbefff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0;
  pointer-events: auto;
}

.ellipsisBtn img {
  width: 20px;
  height: 20px;
}

.ellipsisBtn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

.menu {
  position: absolute;
  right: 50px;
  top: 4%;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  background-color: #dbefff;
  border: 1px solid #dbefff;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 5px 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #dbefff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menuItem:hover {
  background-color: #b8dfff;
  transform: translateY(1px);
}

.icon {
  width: 20px;
  height: 20px;
}

.menu {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(+10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}